/*.fill1 {fill: #bbdefb;}*/
/*.fill2 {fill: #90caf9;}*/
/*.fill3 {fill: #64b5f6;}*/
/*.fill4 {fill: #42a5f5;}*/
/*.fill5 {fill: #2196f3;}*/
/*.fill6 {fill: #1e88e5;}*/
/*.fill7 {fill: #1976d2;}*/
/*.fill8 {fill: #1565c0;}*/
/*.fill9 {fill: #0d47a1;}*/

.fill1 {fill: #fb4d32;}
.fill2 {fill: #f9726a;}
.fill3 {fill: #f6b2ab;}
.fill4 {fill: #f5dfdb;}
.fill5 {fill: #bbdefb;}
.fill6 {fill: #64b5f6;}
.fill7 {fill: #2196f3;}
.fill8 {fill: #1976d2;}
.fill9 {fill: #0d47a1;}
